@using projectChallenge.Models
@model projectChallenge.Models.User

@{



}
Congratulation
<h1>@Model.Username for id @Model.Userid</h1>
you have being connected ad this your list of tokens 
<ol>
    @foreach (var student in ViewData["Tokens"] as List<Token>)
    {
        <li>   @student.TokenCreate.ToString();</li>
    }
</ol>
<h3>ChallengeID: 1711662934</h3>