@model projectChallenge.Models.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-6  border border-secondary">
        <form action="Log" method="POST" runat="server" onsubmit="return validate();">
            <fieldset>
                <div>
                    <label for="PessoaId">Username</label>
                </div>
                <div>
                    <input type="text" name="username" id="username" placeholder="username" />
                </div>
                <div id="userResult"></div>
                <div>
                    <label for="Nome">Password</label>
                </div>
                <div>
                    <input type="text" name="password" id="password" placeholder="password" />
                </div>
                <div id="passResult"></div>
                <br />
                <p><input type="submit" id="singin" ="btn btn-info" value="Sing in" /></p>




                @(Model.Username == null ? "" : Model.Username + " User name don't exsite our")
                <br />
                @(Model.Password == null ? "" : Model.Password + " Password don't existe for this user")

            </fieldset>
        </form>
    </div>

</div>
